<template>
  <div class="flex items-center flex-wrap container mx-auto max-w-7xl px-8">
    <div
      v-for="(product, index) in products"
      :key="product.id"
      class="mt-4 mx-4 p-[10px] shadow-xl bg-[#FFFFFF]"
    >
      <div v-if="index < 12">
        <RouterLink :to="`/product/${product.slug}`">
          <img
            :src="product.thumbnail"
            alt=""
            class="w-[150px] h-[150px] rounded-lg"
          />
          <div
            class="flex flex-wrap w-[150px] h-12 text-ellipsis overflow-hidden font-semibold mt-2 mb-4"
          >
            {{ product.name }}
          </div>
        </RouterLink>
        <div class="flex justify-center">
          <div>
            <div class="text-sm">{{ product.price_str }}</div>
            <div class="text-xs text-gray-400 line-through font-light">
              {{ product.base_price_str }}
            </div>
          </div>
          <div
            @click="setActiveProductId(product.id)"
            class="bg-[#FA8C16] rounded-full h-[32px] w-[32px] flex items-center justify-center ml-auto my-auto"
          >
            <div>
              <label for="my-modal-2" class="modal-button">
                <img
                  src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuODU3MTQgNi44NTcxNFYwSDkuMTQyODZWNi44NTcxNEgxNlY5LjE0Mjg2SDkuMTQyODZWMTZINi44NTcxNFY5LjE0Mjg2SDBWNi44NTcxNEg2Ljg1NzE0WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg=="
                  alt=""
                />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <input type="checkbox" id="my-modal-2" class="modal-toggle" />
    <div class="modal">
      <div
        class="modal-box absolute top-[2%] rounded-lg max-h-[90%] p-0 w-[100%] max-w-[400px]"
      >
        <div class="border-b-[1px] p-4 flex justify-center items-center">
          <label
            for="my-modal-2"
            class="absolute left-10 text-2xl text-[#babcbd]"
            >✕</label
          >
          <h3 class="text-base font-medium pl-5">Thêm món mới</h3>
        </div>
        <div class="pl-4 pr-2 pb-4 pt-4 mb-24 flex items-center">
          <label class="relative block">
            <div v-for="addProduct in products" :key="addProduct.id">
              <div v-if="addProduct.id === activeProductId">
                <div class="flex">
                  <img
                    :src="addProduct.thumbnail"
                    alt=""
                    class="w-36 h-36 rounded-lg"
                  />
                  <div class="ml-4">
                    <div class="font-semibold text-lg">
                      {{ addProduct.name }}
                    </div>
                    <div class="font-[#666666]">
                      {{ addProduct.description }}
                    </div>
                    <div class="flex mt-5">
                      <span>{{ addProduct.base_price_str }}</span>
                      <div
                        class="flex justify-center items-center ml-auto my-auto"
                      >
                        <div
                          class="bg-[#e4e4e4] rounded-full h-[32px] w-[32px] flex items-center justify-center ml-auto my-auto"
                        >
                          <img
                            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDE2IDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHdpZHRoPSIxNiIgaGVpZ2h0PSIyIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K"
                            alt=""
                          />
                        </div>

                        <div class="text-lg mx-4">1</div>
                        <div
                          class="bg-[#FA8C16] rounded-full h-[32px] w-[32px] flex items-center justify-center ml-auto my-auto"
                        >
                          <img
                            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuODU3MTQgNi44NTcxNFYwSDkuMTQyODZWNi44NTcxNEgxNlY5LjE0Mjg2SDkuMTQyODZWMTZINi44NTcxNFY5LjE0Mjg2SDBWNi44NTcxNEg2Ljg1NzE0WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg=="
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mt-5">
                  <div
                    class="absolute flex flex-col items-center justify-center bg-[#f5f5f5]"
                  >
                    <img
                      src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxOCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3IDIwSDFDMC43MzQ3ODQgMjAgMC40ODA0MyAxOS44OTQ2IDAuMjkyODkzIDE5LjcwNzFDMC4xMDUzNTcgMTkuNTE5NiAwIDE5LjI2NTIgMCAxOVYxQzAgMC43MzQ3ODQgMC4xMDUzNTcgMC40ODA0MyAwLjI5Mjg5MyAwLjI5Mjg5M0MwLjQ4MDQzIDAuMTA1MzU3IDAuNzM0Nzg0IDAgMSAwSDE3QzE3LjI2NTIgMCAxNy41MTk2IDAuMTA1MzU3IDE3LjcwNzEgMC4yOTI4OTNDMTcuODk0NiAwLjQ4MDQzIDE4IDAuNzM0Nzg0IDE4IDFWMTlDMTggMTkuMjY1MiAxNy44OTQ2IDE5LjUxOTYgMTcuNzA3MSAxOS43MDcxQzE3LjUxOTYgMTkuODk0NiAxNy4yNjUyIDIwIDE3IDIwWk01IDVWN0gxM1Y1SDVaTTUgOVYxMUgxM1Y5SDVaTTUgMTNWMTVIMTBWMTNINVoiIGZpbGw9IiNFNEU0RTQiLz4KPC9zdmc+Cg=="
                      alt=""
                      class="bg-[#f5f5f5] text-[#f5f5f5] my-3 mx-3"
                    />
                  </div>
                  <input
                    type="text"
                    placeholder="Ghi chú thêm cho món này"
                    class="placeholder:text-base placeholder:font-light placeholder:text-[#babcbd] block h-[45px] pl-14 pr-3 focus:outline-none input input-bordered w-full rounded-sm border-[#f1f1f1] outline-hidden"
                  />
                </div>

                <div
                  v-for="(option, index) in optionProducts"
                  :key="option.group_id"
                  :index="index"
                >
                  <div class="mt-4 ml-[-16px] bg-[#efefef] px-1.5 py-2">
                    <div
                      class="ml-4 text-xs font-medium text-[#666666] my-2 uppercase"
                    >
                      CHỌN {{ option.name }}
                      {{ option.min > 0 ? "(BẮT BUỘC)" : "(TÙY CHỌN)" }}
                    </div>
                  </div>

                  <!-- <div v-if="option.name === 'Size'">
                    <div v-for="item in itemProducts" :key="item.id">
                      <input
                        type="radio"
                        id="{{item.id}}"
                        name="{{option.group_id.toString()}}"
                        defaultChecked="{{option.default_index}}"
                      />
                      <label for="{{item.id}}">{{ item.name }}</label>
                      <label for="{{item.id}}">{{ item.price_str }}</label>
                    </div>
                  </div> -->

                  <div
                    v-if="option.name === 'Size'"
                    class="flex px-4 justify-between"
                  >
                    <div
                      v-for="item in itemSize"
                      :key="item.id"
                      class="flex items-center"
                    >
                      <input
                        type="radio"
                        id="{{item.id}}"
                        name="{{option.group_id.toString()}}"
                        defaultChecked="{{option.default_index}}"
                        class="box-border w-6 h-6 accent-pink-500"
                      />
                      <div class="pl-3 pt-2 flex-col justify-center flex">
                        <label for="{{item.id}}">{{ item.name }}</label>
                        <label for="{{item.id}}">{{ item.price_str }}</label>
                      </div>
                    </div>
                  </div>
                  <div v-if="option.name === 'Topping'">
                    <div
                      v-for="item in itemTopping"
                      :key="item.id"
                      class="py-4 h-[70px] mx-[15px] border-t first:border-t-0 flex justify-between items-center"
                    >
                      <div class="p-b-[1px]">
                        <p>{{ item.name }}</p>
                        <p class="font-medium">{{ item.price_str }}</p>
                      </div>

                      <div class="flex items-center">
                        <!-- <div
                          class="rounded-full bg-white w-6 h-6 border-2 border-[#e4e4e4] flex items-center justify-center"
                        ></div> -->
                        <p class="text-lg mx-[8px]">0</p>
                        <div
                          class="rounded-full bg-white border-2 border-[#e4e4e4] w-6 h-6 flex items-center justify-center"
                        >
                          <i class="fas fa-plus text-[#e4e4e4]"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="flex p-3 justify-end items-center">
                  <button
                    class="h-12 text-white bg-gradient-to-r from-[#e87800] to-[#fa8c16] shadow-[0px_2px_8px_rgba(0,0,0,0.12)] rounded-r-full rounded-l-full text-base leading-5 flex-1"
                  >
                    {{ addProduct.price_str }} - Thêm vào giỏ hàng
                  </button>
                </div>
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>

    <RouterLink to="/product-list">
      <div
        class="text-[#ef8c1e] flex justify-center items-center mt-14 text-sm"
      >
        Xem tất cả &nbsp;<i class="fa fa-arrow-right"></i>
      </div>
    </RouterLink>
  </div>
</template>

<script setup lang="ts">
import type { Product } from "@/models/order/Product";
import type { Options } from "@/models/order/Options";
import type { Items } from "@/models/order/Items";

import { RouterLink } from "vue-router";

defineProps<{
  products: Product[];
  activeProductId: string;
  optionProducts: Options[];
  itemSize: Items[];
  itemTopping: Items[];
}>();

const emit = defineEmits(["activeChangeProduct"]);

const setActiveProductId = (id: string) => {
  emit("activeChangeProduct", id);
};
</script>
